<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chacha.create.common.mapper.product.PImgMapper">

	<resultMap id="pImgResultMap" type="pImgEntity">
        <id property="pImgId" column="p_img_id" />
        <result property="productId" column="product_id" />
        <result property="pImgUrl" column="p_img_url" />
        <result property="pImgEnum" column="p_img_enum" />
        <result property="pImgSeq" column="p_img_seq" />
    </resultMap>

    <select id="selectAll" resultMap="pImgResultMap">
        SELECT * FROM p_img
    </select>

    <select id="selectByPImgId" parameterType="int" resultMap="pImgResultMap">
        SELECT * FROM p_img WHERE p_img_id = #{pImgId}
    </select>

    <select id="selectByProductId" parameterType="int" resultMap="pImgResultMap">
        SELECT * FROM p_img WHERE product_id = #{productId}
    </select>

    <insert id="insert" parameterType="pImgEntity">
        INSERT INTO p_img (p_img_id, product_id, p_img_url, p_img_enum, p_img_seq)
        VALUES (seq_p_img_id.NEXTVAL, #{productId}, #{pImgUrl}, #{pImgEnum}, #{pImgSeq})
    </insert>

    <update id="update" parameterType="pImgEntity">
        UPDATE p_img
        SET product_id = #{productId},
            p_img_url = #{pImgUrl},
            p_img_enum = #{pImgEnum},
            p_img_seq = #{pImgSeq}
        WHERE p_img_id = #{pImgId}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM p_img WHERE p_img_id = #{pImgId}
    </delete>

</mapper>
