<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chacha.create.common.mapper.product.ProductUpdateMapper">

    <select id="updateProductDetail" resultType="com.chacha.create.common.dto.product.ProductUpdateDTO">
	    SELECT 
	        (SELECT p_img_url FROM p_img WHERE product_id = p.product_id AND p_img_seq = 1 AND p_img_enum = 'THUMBNAIL') AS p_img_url1,
	        (SELECT p_img_url FROM p_img WHERE product_id = p.product_id AND p_img_seq = 2 AND p_img_enum = 'THUMBNAIL') AS p_img_url2,
	        (SELECT p_img_url FROM p_img WHERE product_id = p.product_id AND p_img_seq = 3 AND p_img_enum = 'THUMBNAIL') AS p_img_url3,
	        p.product_id,
	        p.product_name,
	        p.product_detail,
	        p.price,
	        p.stock,
	        t.type_category_name,
	        u.u_category_name,
	        d.d_category_name,
	        p.product_date,
	        p.last_modified_date,
	        p.flagship_check
	    FROM 
	        product p
	    JOIN type_category t USING (type_category_id)
	    JOIN d_category d USING (d_category_id)
	    JOIN u_category u USING (u_category_id)
	    JOIN store s USING (store_id)
	    WHERE 
	        p.delete_check = 0
	        AND s.store_url = #{storeUrl}
	        AND p.product_id = #{productId}
	</select>
    
    <update id="updateProduct" parameterType="map">
	    UPDATE product
	    SET product_name = #{dto.productName},
	        price = #{dto.price},
	        stock = #{dto.stock},
	        product_detail = #{dto.productDetail},
	        last_modified_date = SYSDATE
	    WHERE product_id = #{dto.productId}
	      AND store_id = (SELECT store_id FROM store WHERE store_url = #{storeUrl})
	</update>

	<update id="updateProductImage1" parameterType="map">
    UPDATE p_img
    SET p_img_url = #{dto.pimgUrl1}
    WHERE product_id = #{dto.productId} AND p_img_seq = 1 AND p_img_enum = 'THUMBNAIL'
	</update>
	
	<update id="updateProductImage2" parameterType="map">
	    UPDATE p_img
	    SET p_img_url = #{dto.pimgUrl2}
	    WHERE product_id = #{dto.productId} AND p_img_seq = 2 AND p_img_enum = 'THUMBNAIL'
	</update>
	
	<update id="updateProductImage3" parameterType="map">
	    UPDATE p_img
	    SET p_img_url = #{dto.pimgUrl3}
	    WHERE product_id = #{dto.productId} AND p_img_seq = 3 AND p_img_enum = 'THUMBNAIL'
	</update>

</mapper>