<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.chacha.create.common.mapper.store.StoreMapper">

	<resultMap id="storeResultMap" type="storeEntity">
		<id property="storeId" column="store_id" />
		<result property="logoImg" column="logo_img" />
		<result property="sellerId" column="seller_id" />
		<result property="storeName" column="store_name" />
		<result property="storeDetail" column="store_detail" />
		<result property="storeUrl" column="store_url" />
		<result property="saleCnt" column="sale_cnt" />
		<result property="viewCnt" column="view_cnt" />
	</resultMap>

	<select id="selectAll" resultMap="storeResultMap">
		SELECT * FROM store
		WHERE store_url IS NOT NULL
	</select>

	<select id="selectByStoreId" resultMap="storeResultMap">
		SELECT * FROM store WHERE
		store_id = #{storeId}
	</select>

	<select id="selectByStoreUrl" resultMap="storeResultMap">
		SELECT * FROM store WHERE
		store_url = #{storeUrl}
	</select>

	<select id="selectBySellerId" resultMap="storeResultMap">
		SELECT * FROM store
		WHERE seller_id = #{sellerId}
	</select>

	<insert id="insert" parameterType="storeEntity">
		INSERT INTO store (store_id, seller_id, logo_img, store_name, store_detail, store_url)
		VALUES (seq_store_id.NEXTVAL, #{sellerId}, #{logoImg}, #{storeName}, #{storeDetail}, #{storeUrl})
	</insert>

	<update id="update" parameterType="storeEntity">
		UPDATE store
		SET seller_id = #{sellerId},
		logo_img = #{logoImg},
		store_name = #{storeName},
		store_detail = #{storeDetail},
		store_url = #{storeUrl},
		sale_cnt = #{saleCnt},
		view_cnt = #{viewCnt}
		WHERE store_id = #{storeId}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM store WHERE
		store_id = #{storeId}
	</delete>

	<select id="selectByStoreInfo" resultMap="storeResultMap" parameterType="string">
		SELECT store_name, store_detail, logo_img
		FROM store
		WHERE store.store_Url = #{storeUrl}
	</select>

	<select id="storeAdjustment"
		resultType="managerAdjustmentDTO">
		SELECT
		st.store_name AS storeName,
		m.member_name AS sellerName,
		s.account AS accountNumber,
		s.account_bank AS accountBank,
		m.member_name AS accountHolder,
		SUM(od.order_cnt * od.order_price) AS adjustmentAmount,
		'정산 예정' AS adjustmentStatus,
		TO_CHAR(ADD_MONTHS(TRUNC(oi.order_date, 'MM'), 1), 'YYYY-MM-DD') AS adjustmentDate
		FROM order_info oi
		JOIN order_detail od ON oi.order_id = od.order_id
		JOIN product p ON od.product_id = p.product_id
		JOIN store st ON p.store_id = st.store_id
		JOIN seller s ON st.seller_id = s.seller_id
		JOIN member m ON s.member_id = m.member_id
		WHERE s.personal_check = 1 AND oi.order_date >= TRUNC(SYSDATE, 'MM')
		AND oi.order_date &lt; ADD_MONTHS(TRUNC(SYSDATE, 'MM'), 1)
		GROUP BY st.store_name, m.member_name, s.account, s.account_bank,
         TO_CHAR(ADD_MONTHS(TRUNC(oi.order_date, 'MM'), 1), 'YYYY-MM-DD')
		ORDER BY adjustmentAmount DESC
	</select>


</mapper>
