<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chacha.create.common.mapper.order.OrderMapper">

    <select id="selectOrderListByMemberId" resultType="com.chacha.create.common.dto.order.OrderListDTO" parameterType="int">
	    SELECT
	        oi.order_date,
	        p.product_id,
	        p.product_name,
	        img.p_img_url,
	        od.order_cnt,
	        od.order_price,
	        d.delivery_check
	
	    FROM order_info oi
	    JOIN order_detail od ON oi.order_id = od.order_id
	    JOIN product p ON od.product_id = p.product_id
	    JOIN (
	        SELECT * FROM p_img
	        WHERE p_img_enum = 'THUMBNAIL' AND p_img_seq = 1
	    ) img ON p.product_id = img.product_id
	    LEFT JOIN delivery d ON oi.order_id = d.order_id
	
	    WHERE oi.member_id = #{memberId}
	
	    ORDER BY oi.order_date DESC, oi.order_id DESC, od.order_detail_id ASC
    </select>
    
    <select id="selectOrderListByOrderId" resultType="com.chacha.create.common.dto.order.OrderListDTO">
		SELECT
			oi.order_date,
		    p.product_id,
		    p.product_name,
		    img.p_img_url,
		    od.order_cnt,
		    od.order_price,
		    d.delivery_check
		FROM order_detail od
		JOIN order_info oi ON od.order_id = oi.order_id
		JOIN product p ON od.product_id = p.product_id
		JOIN (
		    SELECT * FROM p_img
		    WHERE p_img_enum = 'THUMBNAIL' AND p_img_seq = 1
		) img ON p.product_id = img.product_id
		LEFT JOIN delivery d ON od.order_id = d.order_id
		WHERE od.order_id = #{orderId}
		AND oi.member_id = #{memberId}
		ORDER BY od.order_detail_id ASC
	</select>
    
    <select id="selectOrderDetailByOrderId" resultType="com.chacha.create.common.dto.order.OrderDetailDTO">
	    SELECT 
	        oi.order_id,
	        oi.member_id,
	        oi.order_date,
	        oi.order_name,
	        oi.order_phone,
	        oi.order_status,
	        a.post_num,
	        a.address_road,
	        a.address_detail,
	        a.address_extra,
	        c.card_num,
	        c.card_company
	    FROM order_info oi
	    JOIN member m ON oi.member_id = m.member_id
	    JOIN addr a ON oi.address_id = a.address_id
	    JOIN card c ON oi.card_id = c.card_id
	    WHERE oi.order_id = #{orderId}
	    AND oi.member_id = #{memberId}
	</select>
    
</mapper>
