<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.chacha.create.common.mapper.order.OrderInfoMapper">

	<resultMap id="orderInfoResultMap" type="orderInfoEntity">
		<id property="orderId" column="order_id" />
		<result property="memberId" column="member_id" />
		<result property="orderDate" column="order_date" />
		<result property="orderName" column="order_name" />
		<result property="orderPhone" column="order_phone" />
		<result property="addressId" column="address_id" />
		<result property="cardId" column="card_id" />
		<result property="orderStatus" column="order_status" />
	</resultMap>

	<select id="selectAll" resultMap="orderInfoResultMap">
		SELECT * FROM order_info
	</select>

	<select id="selectByOrderId" parameterType="int"
		resultMap="orderInfoResultMap">
		SELECT * FROM order_info WHERE order_id = #{orderId}
	</select>

	<select id="selectByMemberId" parameterType="int"
		resultMap="orderInfoResultMap">
		SELECT * FROM order_info WHERE member_id = #{memberId}
	</select>

	<insert id="insert" parameterType="orderInfoEntity">
		<selectKey keyProperty="orderId" resultType="int" order="BEFORE">
	        SELECT seq_order_info_id.NEXTVAL FROM dual
	    </selectKey>
		INSERT INTO order_info
		(order_id, member_id, order_date, order_name,
		order_phone, address_id,
		card_id, order_status)
		VALUES (#{orderId}, #{memberId},
		#{orderDate}, #{orderName},
		#{orderPhone}, #{addressId}, null,
		#{orderStatus})
	</insert>

	<update id="update" parameterType="orderInfoEntity">
		UPDATE order_info
		SET member_id = #{memberId},
		order_date = #{orderDate},
		order_name = #{orderName},
		order_phone = #{orderPhone},
		address_id = #{addressId},
		card_id = #{cardId},
		order_status = #{orderStatus}
		WHERE order_id = #{orderId}
	</update>
	
	<update id="updateForOrderStatus" parameterType="orderInfoEntity">
	  UPDATE order_info
	  SET order_status = #{orderStatus}
	  WHERE order_id = #{orderId}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM order_info WHERE
		order_id = #{orderId}
	</delete>

</mapper>
