<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chacha.create.common.mapper.member">

	<resultMap id="addressResultMap" type="addressEntity">
		<id property="addressId" column="address_id" />
		<result property="memberId" column="member_id" />
		<result property="postNum" column="post_num" />
		<result property="addressRoad" column="address_road" />
		<result property="addressDetail" column="address_detail" />
		<result property="addressExtra" column="address_extra" />
		<result property="addressCheck" column="address_check" />
	</resultMap>

	<select id="selectAll" resultMap="addressResultMap">
		SELECT * FROM address
	</select>

	<select id="selectByAddressId" resultMap="addressResultMap"
		parameterType="int">
		SELECT * FROM address WHERE address_id = #{addressId}
	</select>

	<insert id="insert" parameterType="addressEntity">
		INSERT INTO address (address_id, member_id, post_num, address_road,
		address_detail, address_extra, address_check)
		VALUES (seq_address_id.NEXTVAL, #{memberId}, #{postNum}, #{addressRoad},
		#{addressDetail}, #{addressExtra}, #{addressCheck})
	</insert>

	<update id="update" parameterType="addressEntity">
		UPDATE address
		SET member_id = #{memberId}, post_num = #{postNum}, address_road =
		#{addressRoad},
		address_detail = #{addressDetail}, address_extra = #{addressExtra}, address_check =
		#{addressCheck}
		WHERE address_id = #{addressId}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM address WHERE address_id = #{addressId}
	</delete>

</mapper>
